*{
    font-family: montserrat;
    margin:0;
    text-align: center;
    font-size: 10px;
}
a{
    text-decoration: none;
}
/* Top Section */
header{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 15rem;
    background-color: #F8F8F8;
    align-items: center;
}
nav>ul>li{
    display: inline;
}
nav>ul>li>a{
    font-size: 1.6rem;
    margin-right: 4rem;
    text-decoration: none;
    color: #333333;
    transition: all 0.3s ease;
}
nav>ul>li>a:hover{
    font-size: 2.4rem;
}
#header-button, #section-1-button{
    background: #31286A;
    padding: 1rem 3rem;
    border-radius: 0.4rem;
    border: none;
    font-size: 1.6rem;
    color: white;
    transition: all 0.3s ease-in;
}
#header-button:hover, #section-1-button:hover{
    background: white;
    color:#31286A;
    border: 1px solid #31286A ;
    cursor: pointer;
}
#hamburger-menu{
    position: absolute;
    display: none;
}


/* Main Section */
#section-1{
    padding-top: 5rem;
    background-color: #F8F8F8;
}
h1{
    color:#31286A;
    font-size: 3.6rem;
    margin-bottom: 1.2rem;
}
#section-1>p{
    font-size: 2rem;
    margin-bottom: 4rem;
    width:55rem;
    margin-left: auto;
    margin-right: auto;
    color: #656565;
}
#demo-play{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
}
#demo-play>p{
    font-size: 1.4rem;
    color: #0f0f0f;
    transition: all 0.3s ease-in;
}
#demo-play>p:hover{
    cursor: pointer;
    font-size: 1.5rem;
}
#demo-play:hover{
    cursor: pointer;
}
#demo-play-button{
    width:0.8rem;
}
#main-image{
    width: 94rem;
}

/* Section-2 */
#section-2{
    padding: 5rem 15rem;
    color: #656565;
}
#section-2-head-text{
    font-size: 2.8rem;
    color: #31286A;
}
#section-2-head-text-2{
    font-size: 1.6rem;
    margin-top: .8rem;
}
#section-2-grid{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 30rem 30rem 30rem ;
    column-gap: 11rem;
    row-gap: 4rem;
}
.section-2-grid-box{
    text-align: left;
}
.section-2-grid-icon{
    width:6.3rem;
}
.section-2-grid-header{
    text-align: left;
    width: 100%;
    font-size: 2rem;
    color: #31286A;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}
.section-2-grid-text{
    text-align: left;
    width: 100%;
    font-size: 1.4rem;
}

/* Section-3 */
#section-3{
    background-color: #F8F8F8;
    padding-top: 5.5rem;
    padding-bottom: 10rem;
}
#section-3-text-1{
    margin: 0 auto 3rem auto;
    font-size: 1.8rem;
    color: #656565;
}
#section-3-grid-1{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem 15rem;
}
#section-3-text-2{
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
}
#section-3-text-3{
    font-size: 1.6rem;
    margin-bottom: 4rem;
    color: #656565;
}
#section-3-grid-2{
    display: flex ;
    overflow-x: auto;
}
#section-3-grid-2::-webkit-scrollbar{
    width: 0;
}
.section-3-grid-2-box{
    min-width: 30rem;
    border: 1px solid #e2e2e2;
    padding: 3rem;
    text-align: left;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 3rem;
}
.section-3-grid-2-box>div{
    text-align: left;
}
.section-3-grid-2-box>p{
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 1.4rem;
    color: #656565;
}
.qoute-icon{
    width:2rem;
}
.profile{
    display: flex;
    align-items: center;
}
.profile-text-1{
    text-align: left;
    font-size: 1.6rem;
    padding-left: 1rem;
}
.profile-text-2{
    text-align: left;
    font-size: 1.2rem;
    color: #656565;
    padding-left: 1rem;
}

/*Section-4*/
#section-4{
    padding: 5rem 15rem;
}
#section-4-text-1{
    font-size: 2.4rem;
}
#section-4-text-2{
    font-size: 1.6rem;
    margin-top: 0.8rem;
    margin-bottom: 6.4rem;
}
#section-4-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
:root {
    --purple: #31286A;
    --white: #ffffff;
  }
.pricing-box{
    padding: 4rem;
    border: 1px solid #e2e2e2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    transition: all 0.3s ease-in;
    color: #656565;
}
.pricing-box:hover{
    border: none;
    background-color: var(--purple);
    color:white;
    margin: 1rem;

}
.pricing-box-text-1{
    font-size: 1.6rem;
}
.pricing-box-text-2{
    font-size: 4.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--purple);
}
.pricing-box-text-3{
    font-size: 1.4rem;
    margin-bottom: 3rem;
}
.pricing-list{
    padding-left: 0;
}
.pricing-list>li{
    font-size: 1.6rem;
    list-style-type: '\2713';
    margin-bottom: 1.6rem;
    padding-left: 1.8rem;
}
.pricing-button{
    color: #31286A;
    border: 1px solid #31286A;
    background-color: #Ffffff;
    border-radius: 4px;
    font-size:1.6rem ;
    margin-top: 1.4rem;
    padding: 1.6rem 4rem;
    transition: all 0.3s ease-in;
}
.pricing-button:hover{
    color: white;
    background-color: #31286A;
    border: 1px solid white;
}

/*Section 5*/
#section-5{
    padding: 6rem 24rem;
    background-color: #F8F8F8;
}
#section-5>div{
    background-color: #31286A;
    color:white;
    border-radius: 3.2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#section-5-text-1{
    font-size: 2.8rem;
}
#section-5-text-2{
    font-size: 1.6rem;
    margin-top: 0.4rem;
    margin-bottom: 5rem;
}
#section-5>div>a>button{
    background-color: white;
    color:#31286A;
    font-size: 1.6rem;
    border: none;
    border-radius: 4px;
    padding: 2rem 4rem;
    transition: all 0.3s ease-in-out;
}
#section-5>div>a>button:hover{
    background-color: #31286A;
    border: 1px solid white;
    color: white;
}

/*Footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    padding: 4.5rem 15rem;
}

#footer-left>p{
    font-size: 1.7rem;
    padding-bottom: 4rem;
    text-align: left;
    color: #656565;
}
#footer-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer-input{
    width:24rem;
    border: none;
    border-bottom: 1px solid #E5E5E5 ;
    padding: 1rem;
    font-size: 1.4rem;
    text-align: left;
}
#subscribe-icon{
    width: 1.9rem;
    height: 1.4rem;
    transition: all 0.3s ease-in-out;
}
#subscribe-icon:hover{
    width:2.4rem;
    height:1.9rem;
}
#socials{
    display: flex;
    justify-content: space-between;
    margin-top: 5.5rem;
    width: 12rem;
}
.social-media-icon{
    height:1.4rem;
    width: 1.4rem;
    transition: all 0.3s ease;
}
.social-media-icon:hover{
    height:2rem;
    width: 2rem;
}
#footer-right{
    text-align: right;
}
#footer-right>ul>li{
    margin-left: 4rem;
    display: inline;
}
#footer-right>ul>li>a{
    font-size:1.4rem ;
    color: #656565;
    transition: all 0.3s ease;
}
#footer-right>ul>li>a:hover{
    font-size: 2rem;
}
#footer-right>p{
    font-size: 1.4rem;
    text-align: right;
    margin-top: 12rem;
    color: #656565;
}














/* Moile View */
@media (max-width: 768px){
    /*Nav Bar */
    header{
        display: block;
        padding: 0 ;
    }
    #logo img{
        width: 90px;
        position: relative;
        right: 200;
    }
    nav ul{
        background-color: white;
    }
    nav>ul>li{
        display: block;
        margin-top: 2rem;
    }
    #header-button-background{
        background-color: white;
    }
    #hamburger-menu{
        position: relative;
        bottom: 160;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .hamburger-line{
        background-color: black;
        height: 4px;
        width: 30px;
        border-radius: 5px;
        transition: all .4s ease-in-out;       
    }
    .hamburger-line::before,
    .hamburger-line::after{
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        border-radius: 5px;
        background-color: black;
        transition: all .4s ease-in-out;
    }
    .hamburger-line::before{
        transform: translate(-15px,-8px);
    }
    .hamburger-line::after{
        transform: translate(-15px, 8px);
    }
    #hamburger-menu.open .hamburger-line{
        transform: translateX(-20px);
        background-color: transparent;
    }
    #hamburger-menu.open .hamburger-line::before{
        transform: rotate(45deg) ;
    }
    #hamburger-menu.open .hamburger-line::after{
        transform: rotate(-45deg);
    }




    /* Main Section */
    #section-1{
        padding: 3rem 2rem;
    }
    h1{
        color:#31286A;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    #section-1>p{
        margin-bottom: 3rem;
        width:90%;
    }
    #demo-play{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    #demo-play>p{
        color: #0f0f0f;
        transition: all 0.3s ease-in;
    }
    #main-image{
        width: 80vw;
    }



    /* Section-2 */
    #section-2{
        padding: 3rem 2rem;
    }
    #section-2-grid{
        grid-template-columns: 45vw 45vw;
        column-gap: 1rem;
        margin-top: 3rem;
    }
    .section-2-grid-box{
        min-width: 45vw;
    }
    .section-2-grid-text{
        width: 80%;
    }
    


    /* Section-3 */
    #section-3{
        padding: 3rem 2rem;
    }
    #section-3-grid-1{
        margin: 3rem auto;
    }
    .section-3-grid-2-box{
        width: 90vw;
        margin-left: 2rem;
    }
    



    /*Section-4*/
    #section-4{
        padding: 3rem 2rem;
    }
    #section-4-grid{
        display: block;
    }
    .pricing-box{
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
    .pricing-box:hover{
        margin-left:auto;
        margin-right: auto;
    }
    
    


    
    /*Section 5*/
    #section-5{
        padding: 2rem 2rem;
    }
    #section-5>div{
        border-radius: 2rem;
        padding: 2rem;
    }



    /*Footer*/
    footer{
        display: block;
        text-align: center;
        padding: 2rem;
    }
    #footer-left>p{
        padding-bottom: 0;
        margin-bottom: 4rem;
        text-align: center;
    }
    #footer-form{
        justify-content: center;
    }
    #socials{
        justify-content:space-between;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #footer-right{
        text-align: center;
        margin-top: 3rem;
    }
    #footer-right>ul{
        padding-left: 0;
    }
    #footer-right>ul>li{
        margin-left: 0;
        margin-bottom: 1rem;
        display: block;
    }
    #footer-right>p{
        text-align: center;
        margin-top: 2rem;
    }
    
}